# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Node.js
node_modules/
frontend/node_modules/
backend/node_modules/

# Build outputs
frontend/dist/
backend/uploads/

# System files
.DS_Store
Thumbs.db
